body {
  margin: 0;
  font-family: "Montserrat";
  background: #242943;
}

.contain-text {
  display: flex;
  margin: 2em 0;
  justify-content: space-between;
  align-items: center;
  h1 {
    color: #fff;
  }
}

img {
  width: 100%;
  margin-bottom: -1em;
}

.container {
  padding-bottom: 6rem;
  width: 95%;
  margin: 0 auto;
}

.grid {
  display: flex;
}

.grid-col {
  flex: 1;
  padding: 0;
}

.grid-col--2,
.grid-col--3 {
  display: none;
}

.content {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  color: white;
  margin-top: 1em;

  h2 {
    margin: 0.2em 0.5em;
    font-size: 1em;
  }
}

@media (min-width: 768px) {
  .container {
    width: 90%;
  }
  h1 {
    margin: 3em 0;
  }
  .grid-col--2 {
    display: block;
  }
  .grid-col {
    padding: 0em;
  }
  img {
    margin-bottom: -1em;
  }
  .content {
    opacity: 0;
    transform: translateX(-0.5em);
    transition: all 0.5s;
    will-change: opacity, transform;
  }

  .grid-item:hover {
    cursor: pointer;

    .content {
      opacity: 1;
      transform: translateX(0);
    }
  }
}

@media (min-width: 1080px) {
  .grid-col--3 {
    display: block;
  }

  .container {
    width: 80%;
  }
  .contain-text {
    display: flex;
    margin: 3em 0;
  }
}

.btn {
  -moz-appearance: none;
  -webkit-appearance: none;
  -ms-appearance: none;
  appearance: none;
  -webkit-transition: background-color 0.2s ease-in-out,
    box-shadow 0.2s ease-in-out, color 0.2s ease-in-out;
  -webkit-transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out,
    -webkit-box-shadow 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out, box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out, -webkit-box-shadow 0.2s ease-in-out;
  background-color: transparent;
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: inset 0 0 0 2px #fff;
  box-shadow: inset 0 0 0 2px #fff;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 0.8em;
  font-weight: 600;
  height: 3.5em;
  letter-spacing: 0.25em;
  line-height: 3.5em;
  padding: 0 1.75em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}

.btn-primary {
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #242943;
  &:hover {
    background-color: #9bf1ff;
    color: #242943 !important;
  }
}
