.container {
  width: calc(100% - 10em);
  max-width: 60em;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
$columns: 12;
@for $i from 1 through $columns {
  .col-#{$i} {
    flex: 0 0 100% / $columns * $i;

    img {
      width: 100%;
    }
  }
  .col-offset-#{$i} {
    margin-left: 100% / $columns * $i;
  }
}

// margin and padding

$spaceamounts: (1, 2, 3, 4, 5);

@each $space in $spaceamounts {
  .m-#{$space} {
    margin: #{$space}rem;
  }
  .mb-#{$space} {
    margin-bottom: #{$space}rem;
  }
  .mt-#{$space} {
    margin-top: #{$space}rem;
  }

  .my-#{$space} {
    margin: #{$space}rem 0;
  }
  .mx-#{$space} {
    margin: 0 #{$space}rem;
  }
  .p-#{$space} {
    padding: #{$space}rem;
  }
  .py-#{$space} {
    padding: #{$space}rem 0;
  }
  .px-#{$space} {
    padding: 0 #{$space}rem;
  }
}
